/* Slick carousel styles */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* Change the color of the previous and next arrows */
.slick-prev:before, .slick-next:before {
  color: black; /* Set to black or gray */
}

/* Optional: Adjust the size of the arrows */
.slick-prev, .slick-next {
  z-index: 1;
  font-size: 20px; /* Adjust size if needed */
  margin: -10px;
}


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
